
    <div class="text-center">
        <h1 class="display-4">I am Alison Puerta</h1>
        <h4>I'm a consulting engeneer, project manager</h4>
        <img id="foto" src="~/img/chambeadora.jpeg" />
    </div>

    <div class="row justify-content-center text-center bg-primary">
        <div class="col col-md-7 seccion-bienvenida">
            <h1>Bienvenido a mi portafolio de servicios de valor agregado</h1>
            <p>
                Soy gerente de proyectos, certificación scrum master, especialista en desarrollo de software con experiencia de 10 años
                en desarrollo de aplicaciones moviles, DBA por tres años en Comcel
            </p>
        </div>
    </div>